/* Css variables */
:root{
    --clr-primary-orange:hsl(25, 97%, 53%);

    --clr-neutral-White: hsl(0, 0%, 100%);
    --clr-neutral-LightGrey: hsl(217, 12%, 63%);
    --clr-neutral-MediumGrey: hsl(216, 12%, 54%);
    --clr-neutral-DarkBlue: hsl(213, 19%, 18%);
    --clr-neutral-LighterBlue: hsl(210, 18%, 22%);
    --clr-neutral-VeryDarkBlue: hsl(216, 12%, 8%);

    --fontsize:15px;
    --fontwt-regular:400;
    --fontwt-bold:700;
    --fontfamily: 'Overpass', sans-serif;
}


/* Css Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* General CSS */
  body{
    font-family: var(--fontfamily);
    font-size: var(--fontsize);
    font-weight: var(--fontwt-regular);
    color: var(--clr-neutral-White);
    background-color: var(--clr-neutral-VeryDarkBlue);
    
    min-height: 100%;
    overflow-y: scroll;
    display: grid;
    place-content: center;
  }
  .maincard{
    
    padding: 2rem 1rem;
    background-color: var(--clr-neutral-DarkBlue);
    border-radius: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    justify-content: center;
  }
  .maincard.thankyouscreen{
    align-items: center;
  }
  div.starsvg{
    align-self: flex-start;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--clr-neutral-LighterBlue);
  }
  img.star{
    width: 1rem;
    height: 1rem;
  }
  h1.title{
    font-weight: var(--fontwt-bold);
  }
  p.message{
    color: var(--clr-neutral-LightGrey);
    padding: 1rem 0rem;
  }
  .message.thankyouscreen{
    text-align: center;
  }
  div.ratings{
    
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
  }
  div.rating{
    /* border: 1px solid var(--clr-neutral-MediumGrey); */
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    background-color: var(--clr-neutral-LighterBlue);
  }
  div.rating:hover{
    background-color: var(--clr-primary-orange);
  }
  div.rating-active{
    background-color: var(--clr-neutral-LightGrey);
  }
  button.button{
    background-color: var(--clr-primary-orange);
    color: var(--clr-neutral-White);
    border-radius: 2rem;
    padding: 0.5rem;
    font-weight: var(--fontwt-regular);
    border: 0px;
    font-size: var(--fontsize);
  }
  button.button:hover{
    background-color: var(--clr-neutral-White);
    color: var(--clr-primary-orange);
  }
  .ratingmessage{
    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: var(--clr-primary-orange);
    background-color: var(--clr-neutral-LighterBlue);
  }